<!DOCTYPE html>
<html ng-app="blocTime">
<head lang="en">
  <meta charset="UTF-8">
  <title>BlocTime</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body ng-controller="MainCtrl">
  
  <div class="task-pane">
    <span class="task-heading">Task History</span>
    <form>
      <div class="form-group">
        <input class="form-control" type="text" ng-model="task.name" placeholder="Enter task name">
      </div>
      <div class="form-inline">
        <strong>Sessions required:</strong>
        <select class="form-control" ng-model="task.workSessions">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <button type="submit" class="btn btn-task" ng-click="addTask()">Add task</button>
      </div>
    </form>
    <hr>
    <task-list></task-list>
  </div>

  <div class="timer-pane">
    <div class="timer-work-session">
      <p>
        <strong>Current work session:</strong> {{currentTask.name}}
        <br/>
        <strong>Sessions completed:</strong> {{sessionsCompleted}}
        <br/>
        <strong>Interruptions:</strong> {{interruptions}}
      </p>
    </div>

    <div class="timer-group">
      <timer-digital ng-show="timer == 'digital'"></timer-digital>
      <timer-analog ng-show="timer == 'analog'"></timer-analog>

      <form class="radio">
        <label><input type="radio" ng-model="timer" value="digital">Digital</label>
        <label><input type="radio" ng-model="timer" value="analog">Analog</label>
      </form>

      <button class="btn btn-timer" ng-click="toggleButton()">{{buttonLabel}}</button>
      <button class="btn btn-timer" ng-disabled="stopped" ng-click="togglePause()">{{buttonPause}}</button>
      <p>{{timesCompleted}}</p>
    </div>
  </div>

  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.1.0/buzz.min.js"></script>
  <script src="/scripts/app.js"></script>
</body>
</html>
